body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: white;
    color: black;
    padding: ;
    width: 400px;
    margin: 30px;
}

.article-but {
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #8243D6;
    padding: ;
    color: white;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}

header, nav, .info {
    display: flex;
}
#q {
    background-color: #1B1BB3;
}

#w {
    background-color: #FFBF00;
}

#e {
    background-color: #FF9200;
}

#r {
    background-color: #530FAD;
}
